/* ------------------------------------------- ROOT Style */

:root {
  /* COLORS */
  --accent-color: #fb6d3a;
  --text-main-color: #595959;
  --text-second-color: #000000;
  --text-term-color: #a8a8a8;
  --text-sidebar-color: #ffffff;
  --bg-main-color: #ffffff;
  --bg-body-color: #f5f7fa;
  --bg-sidebar-color: #1e2939;
}

/* ------------------------------------------- Zero Style */

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-second-color);
  background: var(--bg-body-color);
  font-size: 14px;
  line-height: 1.7;
}
input,
button,
textarea {
  font-family: inherit;
}
address {
  font-style: normal;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  display: block;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------- Main Style */

.main {
  display: flex;
  flex-direction: row-reverse;

  width: 1200px;
  margin: 40px auto;

  background: var(--bg-main-color);

  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main-content {
  margin: 105px 0;
  padding-left: 88px;
  padding-right: 217px;
}
.main__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
.main__subtitle {
  margin-bottom: 11px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
.main__subtitle--accent {
  color: var(--accent-color);
}
.main__list {
  padding-left: 16px;
}
.main__item {
  color: var(--text-main-color);
}
.main__link {
  font-weight: 400;

  color: var(--text-main-color);

  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main__link:hover,
.main__link:focus {
  color: var(--accent-color);
}

/* ------------------------------------------- About user Style */

.about-user {
  margin-bottom: 40px;
}
.about-user__subtitle {
  margin-bottom: 19px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.about-user__title {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
}

/* ------------------------------------------- Projects Style */

.projects {
  margin-bottom: 51px;
}
.projects__item {
  padding-left: 10px;
}
.projects__item::marker,
.projects__bracket::before,
.projects__bracket::after {
  font-weight: 700;
  color: var(--text-second-color);
}
.projects__bracket::before {
  content: '[';
}
.projects__bracket::after {
  content: ']';
}
/* ------------------------------------------- Work Style */

.work {
  margin-bottom: 43px;
}
.company {
  margin-bottom: 16px;
}
.term {
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 1.25;

  color: var(--text-term-color);
}
.term--accent {
  color: var(--text-second-color);
}

/* ------------------------------------------- Education Style */

.education__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}

/* ------------------------------------------- Sidebar Style */

.sidebar {
  min-width: 370px;
  background: var(--bg-sidebar-color);
}
.user__photo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 51px;
}
.sidebar__thumb {
  margin-bottom: 45px;
  padding-left: 40px;

  color: var(--text-sidebar-color);
}
.sidebar__title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
.sidebar__list {
  padding-left: 16px;
}
.sidebar__list--null {
  list-style: none;
  padding-left: 0;
}
.sidebar-contacts__item {
  margin-right: 12px;
  font-weight: 700;
}
.sidebar__item::marker {
  color: var(--accent-color);
}
.sidebar__link {
  font-weight: 400;

  color: var(--text-sidebar-color);

  opacity: 0.5;
  transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sidebar__link:hover,
.sidebar__link:focus {
  opacity: 1;
}
